@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Colors */
    --white: hsl(0, 0%, 100%);
    --lightPink: hsl(275, 100%, 97%);
    --grayishPurple: hsl(292, 16%, 49%);
    --darkPurple: hsl(292, 42%, 14%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--lightPink);
    background-image: url('./assets/images/background-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Work Sans', sans-serif;
}

@media screen and (min-width: 767px) {
    body {
        background-image: url('./assets/images/background-pattern-desktop.svg');
    }
}

main {
    margin: 143px auto;
    background-color: var(--white);
    width: 87.2%;
    padding: 1.5625rem;
    border-radius: 15px;
    box-shadow: 0px 32px 56px #51007620 ;
}

@media screen and (min-width: 767px) {
    main {
        max-width: 37.5rem;
    }
}

@media screen and (min-width: 1024px) {
    main {
        padding: 2.5rem;
        margin: 168px auto;
    }
}

h1, button {
    color: var(--darkPurple);
}

h1 {
    display: flex;
    font-size: 2rem;
    align-items: center;
    margin-bottom: 1.5rem;
}

h1 img {
    margin-right: 1.5rem;
    width: 1.5rem;
}

@media screen and (min-width: 767px) {
    h1 {
        font-size: 3.5rem;
    }
    
    h1 img {
        width: 40px;
    }
}

@media screen and (min-width: 1024px) {
    h1 {
        margin-bottom: 2rem;
    }
}

button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    text-align: left;
    min-height: 30px;
    font-size: 1rem;
    font-weight: 600;
}

@media screen and (min-width: 767px) {
    button {
        font-size: 1.125rem;
    }
}

@media screen and (min-width: 770px) {
    button:hover {
        cursor:pointer ;
        color: hsl(281, 83%, 54%);
        transition: color 0.1s ease-in-out
    }
}

span {
    display: block;
}

.btn-title {
    width: calc(100% - 30px - 24px)
}

@media screen and (min-width: 770px) {
    .btn-title {
        width: calc(100% - 30px);
    }
}

.icon_holder {
    background-image: url('./assets/images/icon-plus.svg');
    width: 30px;
    height: 30px;
}

.data-accordion-header[aria-expanded="true"] .icon_holder {
    background-image: url('./assets/images/icon-minus.svg');
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.panel:not([inert]) {
    max-height: 150px;
}

.panel p {
    padding-top: 1.5rem;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    color: var(--grayishPurple)
}

@media screen and (min-width: 767px) {
    .panel p {
        font-size: 1rem;
        line-height: 140%;
    }
}

hr {
    margin: 1.25rem 0rem;
    border: 1px solid var(--lightPink);
    opacity: 90%;
}

@media screen and (min-width: 1024px) {
    hr {
        margin: 1.5rem 0;
    }
}
